<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
	 	  
  </head>
  
  <style>
.content {
  max-width: 900px;
  width: 100%;
  padding: 80px;
}
</style>
  
  
  <body class="content">
  
   <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1 ng-bind="yourName with greet">Hello {{yourName}}!</h1>
    </div>
	
	<br><br>
  
    <h1>Student Information:</h1>
    <form class="form-horizontal" ng-submit="submitStudnetForm()" role="form">
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" id="firstName" class="form-control" ng-model="student.firstName" />
            </div>
            <div class="col-sm-3"></div>

        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" id="lastName" class="form-control" ng-model="student.lastName" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        
        <div class="form-group">
            <label for="dob" class="col-sm-3 control-label">DoB</label>
            <div class="col-sm-2">
                <input type="date" id="dob" class="form-control" ng-model="student.DoB" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        
        <div class="form-group">
            <label for="location" class="col-sm-3 control-label">Country</label>
            <div class="col-sm-2">
                <select id="gender" class="form-control" ng-options="student.loc">
                    <option value="INDIA">INDIA</option>
					<option value="USA">USA</option>
                   <option value="UK">UK</option>
				    <option value="AUSTRALIA">AUSTRALIA</option>
					 <option value="FRANCE">FRANCE</option>
					  <option value="JAPAN">JAPAN</option>
					   <option value="NEW ZEALAND">NEW ZEALAND</option>
					    <option value="ROMANIA">ROMANIA</option>

                </select>
            </div>
            <div class="col-sm-7"></div>
        </div>
        
		
		
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <span><b>Training Mode</b></span>
                <div class="radio">
                    <label><input value="online" type="radio" name="training" ng-model="student.trainingType" />Online</label>
                </div>
                <div class="radio">
                    <label><input value="onsite" type="radio" name="training" ng-model="student.trainingType" />Class Room</label>
                </div>
            </div>
            <div class="col-sm-7">
                <span><b>Courses:</b></span>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="student.auto" />Automation Testing</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="student.devops" />DevOps</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"  ng-model="student.rpa" />RPA</label>
                </div>
            </div>
        </div>

        <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3" /> 
        <input type="reset" value="Reset" ng-click="resetForm()" class="btn" /> <br/>
		
    </form>
  </body>
  
    <script>
     //1. create app module 
        var studentApp = angular.module('studentApp', []);

        //2. create controller
        studentApp.controller("studentController", function ($scope, $http) {
  
            //3. attach originalStudent model object
            $scope.originalStudent = {
                firstName: 'James',
                lastName: 'Bond',
                DoB: new Date('01/31/1980'),
                gender: 'male',
                trainingType: 'online',
                Automation Testing: false,
                DevOps: true,
                RPA: true
            };

            //4. copy originalStudent to student. student will be bind to a form 
            $scope.student = angular.copy($scope.originalStudent);

            //5. create submitStudentForm() function. This will be called when user submits the form
            $scope.submitStudnetForm = function () {

                // send $http request to save student

            };

            //6. create resetForm() function. This will be called on Reset button click.  
            $scope.resetForm = function () {
                $scope.student = angular.copy($scope.OriginalStudent);
            };
    });
    </script>   
	

</html>

<!-- 
Copyright 2020 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->

